main {
    display: grid;
    justify-content: center;

}

footer {
    display: grid;
    margin-left: 10%;
    margin-top: 5%;
    grid-template-columns: 5fr 3fr 4fr;
    grid-gap: 10%;
    align-items: first baseline;
    text-align: start;
    grid-template-areas:
        "block1 block2 block3"
        "block4 block4 block4"


}


.biglogo {
    display: grid;
    grid-area: block1;
}

.card {
    height: 20vh;
    display: grid;
    align-items: start;
    margin: 2%;
    background-color: rgb(242, 163, 84);
    grid-area: block4;
}


h2 {
    margin-left: 7%;
    font-size: 2em;
}

button {

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    width: 30vh;
    height: 4vw;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(229, 98, 146);
}

button:hover {
    background-color: rgb(235, 240, 89);
}

.network {
    display: flex;
    margin-top: 5%;
    grid-gap: 30px;
}

.second {
    display: grid;
    justify-content: space-around;
    align-items: stretch;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 15% 15% 20%;
    grid-template-rows: 50% 5% 30%;
    text-align: justify;
    grid-gap: 20px;


}

.third {
    display: grid;
    grid-template-columns: 30% 55%;
    grid-template-rows: 75%;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    text-align: start;

    margin-left: 10%;


}

.first {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-template-rows: 50vh;
    padding: 5%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10%;

}

.info {
    padding: 5%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5%;
    margin-left: 10%;
    text-align: start;



}

.mainphoto {
    width: 100%;
    height: 90%;
    background: rgba(58, 81, 205, 0.2);
    opacity: 0.89;
}

.infoheader {
    display: grid;
    position: absolute;
    width: 70%;
    height: 80%;
    z-index: 1;
    top: 15%;
    padding-left: 20%;
    color: white;
    align-content: center;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.choose {
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

.choose:hover {
    text-decoration: underline;
}

.fullhalf {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 38% 40%;
}



.size100 {
    font-size: 5em;
}

.size50 {
    font-size: 3em;
}

.size30 {
    font-size: 2em;
}

.mail {
    color: black;
}

#blackbutton {

    background:
        rgba(70, 70, 72, 1);
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    width: 15vw;
    height: 9vh;
}

#yellowbutton {
    justify-self: end;
    border: solid black;
    margin-top: 3%;
    margin-right: 20%;
    margin-bottom: 10%;


}

#blackbutton:hover {
    background-color: white;
    color: black;
    border: solid black;

}

#review {
    height: 13%;
}

#step {
    font-size: 1.5em;
}

#mainmenu1 {
    display: grid;
    gap: 15px;
    grid-area: block2;

}

#mainmenu2 {
    display: grid;
    gap: 15px;
    grid-area: block3;

}

@media screen and (min-width: 800px) {


    .container {
        display: grid;
        margin-left: 1%;
        width: 95%;
        height: 40vw;
        text-align: center;


    }
}

@media screen and (min-width: 400px) and (max-width: 799px) {
    .footer {
        display: none;
    }

    img {
        max-width: 100%;
        width: 100%;
    }

    .container {
        display: grid;
        font-size: 1em;
        height: 70vh;
        width: 100vw;
        text-align: center;


    }
}


@media screen and (max-width: 399px) {
    .third {
        display: none;
    }


    .info {
        display: none;
    }

    img {
        max-width: 100%;
        width: 100%;
    }


    .header {

        text-align: center;
        height: 30vh;
        font-size: 1em;

    }

    .first {

        height: 30vh;
        font-size: 1em;

    }

    .second {

        height: 30vh;
        font-size: 1em;

    }

    footer {
        height: 30vh;
        font-size: 1em;



    }

}